{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "naumanni": "./src/js",
        "src": "./src/js",
      }
    }],
    "syntax-dynamic-import",
    "transform-function-bind",
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
