$marginAccountInfo: calc($sizeAvatar + $marginDefault);


.accountList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    padding: $marginDefault;
    border-bottom: 1px solid $colorFriendBorder;
  }
}

.accountRow {
  @mixin clearfix;
  position: relative;
  cursor: pointer;

  .accountRow-avatar {
    float: left;
    width: $sizeAvatar;
    text-align: right;
  }

  .accountRow-info {
    margin: 0 24px 0 $marginAccountInfo;
  }

  .accountRow-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .user-displayName {
      margin-right: 0.2em;
    }
    .user-account {
      color: $colorGray3;
    }
  }

  .accountRow-note {
    word-break: break-all;
  }
}
