.dialogSearch {
  padding: 16px 16px 0;
  max-height: 80vh;
  overflow: hidden;
  box-sizing: border-box;
  
  > * {
    box-sizing: border-box;
  }

  h2 {
    margin: $marginDefault 0;
    font-size: $fontSizeNormal;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color:$colorMainNormal;
  }

  > .note {
    margin: $marginDefault $marginDefault calc($marginDefault * 2);
  }

  .search-hashtagInput {
    width: calc(100% - $marginDefault * 2);
    width: 100%;
    margin: 0 0 $marginDefault;
    padding: 0 $marginHalf;
    border-radius: $radiusDefault;
    border: 1px solid $colorGray2;
    background: $colorWhite;
    font-size: 1.2rem;
    line-height: 2;
  }

  .search-options {
    > h2 {
      cursor: pointer;
    }

    &-item {
      padding: $marginDefault;
      background: $colorMainLightest;

      .note {
        margin: 0;
        font-size: $fontSizeSmall;
      }
      
      > ul {
        @mixin clearfix;

        li {
          display: block;
          float: left;
          border: 4px solid rgba(0, 0, 0, 0.1);
          border-radius: $marginHalf;
          margin: 0 $marginHalf $marginHalf 0;
          padding: 0;
          filter: grayscale(100%);

          > * {
            display: block;
          }

          &.is-selected {
            border-color: $colorMainNormal;
            filter: none;
          }
        }
      }
    }

    .searchFor-note {
      margin: 0;
      font-size: $fontSizeSmall;
      color: $colorGray3;
      text-align: right;
    }
  }

  .search-results {
    max-height: calc(80vh - 200px);

    &-hashtags {
      max-height: 28vh;

      > ul {
        margin: -8px 0 $marginDefault;
        max-height: 26vh;
        overflow-y: scroll;
        background: $colorMainLightest;

        li {
          margin: $marginDefault $marginDefault;

        }
      }
    }

    &-accounts {
      max-height: 28vh;

      > ul {
        max-height: 26vh;
        overflow-y: scroll;
      }

      li {
        padding: $marginDefault $marginTimeline;
        border-bottom: 1px solid $colorFriendBorder;
      }
    }
  }
}
