.modalDialogContainer .dialog.dialog--userDetail {
  display: flex;

  .userDetail {
    flex: 1 1 320px;
    min-width: 520px;
  }

  .userTimeline {
    flex: 1 1 320px;
    min-width: 320px;
  }
}


.dialog--userDetail .userDetail {
  border-right: 1px solid $colorGray1;
  border-radius: $radiusDialog 0 0 $radiusDialog;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .menu {
    .userIcon {
      margin: 0 $marginHalf;
    }
    .icon {
      font-size: 1.6rem;
      width: 26px;
    }
  }
}


.dialog--userDetail .userTimeline {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .userTimeline-warning {
    background: $colorWarningBackground;
    border: 1px solid $colorWarningBorder;
    color: $colorWarningText;
    border-radius: 6px;
    margin: $marginDefault;
    padding: $marginHalf;
  }

  .userTimeline-counts {
    display: flex;
    flex: 0 0 4.3rem;
    box-shadow: 0 0 8px 4px #fff;
    z-index: 1;

    .userTimeline-count {
      flex: 1 1 calc(100% / 3 - 2px / 3);
      border-bottom: 3px solid $colorGray2;
      padding: $marginDefault;

      cursor: pointer;

      &.is-active {
        border-bottom-color: $colorAccentNormal;
      }
    }
    .userTimeline-count ~ .userTimeline-count {
      border-left: 1px solid transparent;
    }

    .userTimeline-countLabel {
      font-size: 0.8rem;
      color: $colorGray3;
      display: block;
    }

    .userTimeline-countNumber {
      font-size: 1.5rem;
      font-weight: bold;
      color: #212121;
      display: block;
    }
  }

  .timeline, .accountList {
    overflow-y: scroll;
  }
}
