.columnContainer {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  overflow-x: scroll;
  height: calc(100vh - $sizeHeaderIcon - $marginDefault * 2);  /* もっとましな方法はないのか? */
  padding: $marginHalf;

  .column {
    position: relative;
    flex: 1 1 400px;
    min-width: 300px;
    max-width: 480px;
    margin: $marginHalf;
    background: #fff;
    overflow: hidden;
  }
}


.column {
  display: flex;
  flex-direction: column;

  .column-header {
    display: flex;
    align-items: center;
    background: $colorColumnHeaderBackground;
    height: 48px;
    padding: $marginHalf $marginDefault;
    box-sizing: border-box;
    flex: 0 0 48px;
    z-index: 1;  /* つけとかないとSafariで描画がバグる */

    .column-headerTitle {
      color: $colorColumnHeaderText;
      font: $fontColumnHeaderText;
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;

      .column-headerTitleMain {

      }

      .column-headerTitleSub {
        font-size: $fontSizeSmall;
        color: $colorMainLighter;
      }
    }

    .column-headerMenu {
      .column-headerMenuButton {
        color: $colorColumnHeaderMenuButton;
        font-size: 20px;  /* TODO: MAGIC NUMBER */

        box-sizing: border-box;
        padding: 0;
        background: transparent;
        margin: 0;
        border: none;

        cursor: pointer;

        /* remove iconfont's margin */
        > span::before {
          margin: 0;
        }
      }
    }
  }

  .column-menuContent {
    background: $colorMainLightest;
    border: 1px solid $colorGray1;
    border-top: none;
    box-sizing: border-box;
    max-height: 70vh;
    opacity: 1;
    padding: $marginDefault;
    transition: max-height 200ms ease-in-out, opacity 200ms linear, padding 200ms linear;

    &.collapsed {
      max-height: 0;
      opacity: 0.5;
      padding: 0;
    }

    h2 {
      margin: 0 0 $marginDefault;
      font-size: $fontSizeNormal;
      font-weight: bold;
      font-family: sans-serif;
    }

    .menu-item {
      margin: 0 0 $marginDefault;

      .menu-note {
        margin: 0;
        font-size: $fontSizeSmall;
        color: $colorGray3;
        text-align: right;
      }

      &--toggle {
        display: flex;
        align-items: center;

        label {
          margin-left: $marginDefault;
        }
      }

      &--close {
        cursor: pointer;
        line-height: 40px;
        text-align: center;
        border: 1px solid $colorGray1;
        border-radius: $radiusButton;
      }
    }


    .menu-accounts {
      @mixin clearfix;

      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        float: left;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: $marginHalf;
        margin: 0 $marginHalf $marginHalf 0;
        padding: 0;
        filter: grayscale(100%);

        > * {
          display: block;
        }

        &.is-selected {
          border-color: $colorMainNormal;
          filter: none;
        }
      }
    }
  }

  .column-header-private {
    background: $colorPrivateColumnHeaderBackground;
  }

  .column-body {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
  }
}


.menu--column {
  position: absolute;
  right: 0;
}
