$marginFriendInfo: calc($sizeAvatar + $marginDefault);


$sizeFriendsFilterHeight: 20px;


.friends {
  height: 100%;

  .friends-filter {
    height: $sizeFriendsFilterHeight;

    > input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .friends-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - $sizeFriendsFilterHeight);
    overflow-y: scroll;

    li {
      padding: $marginDefault;
      border-bottom: 1px solid $colorFriendBorder;
    }
  }
}


.friend {
  @mixin clearfix;
  position: relative;
  cursor: pointer;

  .friend-avatar {
    float: left;
    width: $sizeAvatar;
    text-align: right;
  }

  .friend-info {
    margin: 0 24px 0 $marginFriendInfo;
  }

  .friend-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .user-displayName {
      margin-right: 0.2em;
    }
    .user-account {
      color: $colorGray3;
    }
  }

  &::before {  /* ::afterはclearfixが使ってる */
    font-family: "naumanni";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: '\e811';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    color: $colorFriendArrow;
  }
}
