.column .column-body--friends {
  display: flex;
  flex-direction: column;

  .friends-filter {
    flex: 0 0 auto;
    border-bottom: 1px solid $colorGray1;
    background: $colorGray1;
    font-size: 1rem;
    position: relative;

    &::before {
      @mixin iconfontnize '\e800';
      line-height: 2rem;
      position: absolute;
      color: $colorGray3;
      left: $marginTimeline;
    }

    > input {
      box-sizing: border-box;
      width: 100%;
      border: none;
      font-size: 1rem;
      line-height: 2rem;
      flex: 1 1 auto;
      padding: 0 $marginDefault 0 2em;
      border-radius: $marginHalf;

      &:placeholder-shown {
        color: $colorGray3;
      }
    }
  }

  .friends-list {
    list-style: none;
    padding: 0;
    margin: 0;

    flex: 1 1 100px;
    overflow-y: scroll;

    li {
      padding: $marginDefault $marginTimeline;
      border-bottom: 1px solid $colorFriendBorder;
    }
  }

  .accountRow {
    &::before {  /* ::afterはclearfixが使ってる */
      font-family: "naumanni";
      font-style: normal;
      font-weight: normal;
      speak: none;

      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;

      font-variant: normal;
      text-transform: none;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      content: '\e811';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      color: $colorFriendArrow;
    }
  }
}

