.modalDialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $colorModalDialogContainerBackground;

  .dialog {
    display: none;
    min-width: 400px;
    max-width: 90vw;
    max-height: 90vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: $radiusDialog;

    &.is-visible {
      display: block;
    }
  }
}


.dialog {
  background: $colorDialogBackground;

  .dialog-header {
    padding: $marginDefault;
    border-bottom: 1px solid $colorGray1;

    h1 {
      margin: 0;
      font-size: $fontSizeLargest;
      color: $colorMainNormal;
    }
  }

  .dialog-body {
    padding: $marginDefault;
  }

  .dialog-footer {
    padding: $marginDefault;
    border-top: 1px solid $colorGray1;

    .dialog-footerButtons {
      text-align: right;
      > * {
        margin: 0 $marginDefault;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .dialog-closeButton {
    position: absolute;
    z-index: 1;
    border: 0;
    background: transparent;

    top: -12px;
    right: -32px;

    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 4px #444;

    &:hover {
      color: $colorAccentLighter;
    }
  }
}


.dialog.dialog--mediaViewer {
  background-color: transparent;
  background-repeat: no-repeat;;
  background-size: contain;
  background-position: center center;
  min-width: initial;
  border-radius: 0;

  video, img {
    max-width: 90vw;
    max-height: 90vh;
  }
}
