.column .column-body--talk {
  display: flex;
  flex-direction: column;

  .talk-talkGroups {
    list-style: none;
    padding: 0 $marginTimeline;
    margin: 0;
    box-sizing: border-box;
    flex: 1 1 100px;
    overflow-y: scroll;
  }

  .talkForm-content {
    .talkForm-status {
      border-top: 1px solid $colorTalkFormBorder;
      box-sizing: border-box;
      height: $sizeTalkFormHeight;
      position: relative;

      flex: 0 0 auto;

      textarea {
        border: none;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: $marginDefault;
        font-size: 1rem;
        resize: none;
      }
    }

    .talkForm-mediaFiles {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 2px);
      margin: 0 auto;

      .mediaThumbnail {
        height: 60px;
        flex: 1 1 35%;
        min-width: 35%;
        margin: calc($marginHalf / 2);
        border-radius: $marginHalf;
      }
    }

    .talkForm-contentActions {
      padding-left: 6px;

      > * {
        display: inline-block;
        border: none;
        background: transparent;
        font-size: 1.2rem;
        color: $colorGray3;

        &.is-active {
          color: $colorAccentNormal;
        }

        .icon::before {
          width: auto;
          margin: 0;
        }
      }
    }
  }
}


.talk-talkGroup {
  @mixin clearfix;
  margin: $marginDefault 0;
  position: relative;

  .talk-talkGroupStatuses {
    list-style: none;
    padding: 0;
    margin: 0;

    overflow: hidden;

    > li {
      display: flex;
      margin: $marginHalf 0;

      .status-content {
        padding: $marginHalf $marginDefault;
        margin: 0;
        flex: 1 1 auto;

        p {
          margin: 0;
        }

        .emojione {
          width: $sizeEmoji;
          height: $sizeEmoji;
        }
      }

      .status-date {
        flex: 0 0 8em;
        margin: 0 $marginHalf;
        color: $colorStatusInfo;
        font-size: $fontSizeStatusInfo;
        visibility: hidden;
      }

      .status-isEncrypted {
        font-size: $fontSizeStatusInfo;
        color: #d8b924;
        padding-top: 0.6rem;
        margin: 0 $marginHalf;
      }

      &:first-child {
        margin-top: 0;
        .status-content {
          border-radius: 8px 8px 0 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
        .status-content {
          border-radius: 0 0 8px 8px;
        }
      }
      &:first-child:last-child {
        .status-content {
          border-radius: 8px;
        }
      }
      &:hover {
        .status-date {
          visibility: visible;
        }
      }
    }
  }

  .talk-speakerName {
    margin: 0 0 0 calc($sizeStatusAvatar + $marginDefault);
    color: $colorStatusInfo;
    font-size: $fontSizeStatusInfo;
  }

  /**
   * 自分の発言は右寄せ
   */
  &.is-me {
    .talk-talkGroupStatuses {
      margin-left: auto;

      .status-content {
        order: 3;
        background: $colorTalkReceiverStatus;
      }
      .status-date {
        order: 1;
        text-align: right;
      }
      .status-isEncrypted {
        order: 2;
      }
    }
  }

  /**
   * 自分の発言は左寄せ
   */
  &.is-member {
    .talk-speakerAvatar {
      position: absolute;
      bottom: 0;
      width: $sizeAvatar;

      .userIcon .userIcon-avatar {
        width: $sizeStatusAvatar;
        height: $sizeStatusAvatar;
      }
    }
    .talk-talkGroupStatuses {
      margin: 0 auto 0 calc($sizeStatusAvatar + $marginDefault);

      .status-content {
        background: $colorTalkSenderStatus;
      }
      .status-isEncrypted {
        order: 2;
      }
      .status-date {
        order: 3;
      }
    }
  }
}
