$colorTalkSenderStatus: $colorGray1;
$colorTalkReceiverStatus: #6BD67D;
$colorTalkFormBorder: $colorGray3;
$sizeTalkFormHeight: 96px;


.column .column-body--talk {
  display: flex;
  flex-direction: column;

  .talk-talkGroups {
    list-style: none;
    padding: 0 $marginTimeline;
    margin: 0;
    box-sizing: border-box;
    flex: 1 1 100px;
    overflow-y: scroll;
  }

  .talk-form {
    border-top: 1px solid $colorTalkFormBorder;
    box-sizing: border-box;
    height: $sizeTalkFormHeight;
    position: relative;

    flex: 0 0 auto;

    textarea {
      border: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: $marginDefault;
      font-size: 1rem;
    }
  }
}


.talk-talkGroup {
  @mixin clearfix;
  margin: $marginDefault 0;
  position: relative;

  .talk-talkGroupStatuses {
    list-style: none;
    padding: 0;
    margin: 0;

    overflow: hidden;

    > li {
      display: flex;
      margin: $marginHalf 0;

      .status-content {
        padding: $marginHalf $marginDefault;
        margin: 0;
        flex: 1 1 auto;
      }

      .status-date {
        flex: 0 0 8em;
        margin: 0 $marginHalf;
        color: $colorStatusInfo;
        font-size: $fontSizeStatusInfo;
        visibility: hidden;
      }

      &:first-child {
        margin-top: 0;
        .status-content {
          border-radius: 8px 8px 0 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
        .status-content {
          border-radius: 0 0 8px 8px;
        }
      }
      &:first-child:last-child {
        .status-content {
          border-radius: 8px;
        }
      }
      &:hover {
        .status-date {
          visibility: visible;
        }
      }
    }
  }

  .talk-speakerName {
    margin: 0 0 0 calc($sizeStatusAvatar + $marginDefault);
    color: $colorStatusInfo;
    font-size: $fontSizeStatusInfo;
  }

  /**
   * 自分の発言は右寄せ
   */
  &.is-me {
    .talk-talkGroupStatuses {
      margin-left: auto;

      .status-content {
        background: $colorTalkReceiverStatus;
        order: 2;
      }
      .status-date {
        order: 1;
        text-align: right;
      }
    }
  }

  /**
   * 自分の発言は左寄せ
   */
  &.is-member {
    .talk-speakerAvatar {
      position: absolute;
      bottom: 0;
      width: $sizeAvatar;

      .userIcon .userIcon-avatar {
        width: $sizeStatusAvatar;
        height: $sizeStatusAvatar;
      }
    }
    .talk-talkGroupStatuses {
      margin: 0 auto 0 calc($sizeStatusAvatar + $marginDefault);

      .status-content {
        background: $colorTalkSenderStatus;
      }
    }
  }
}


.status-content {
  color: $colorStatusText;
  line-height: 1.3;
  overflow: hidden;

  > p {
    margin: 0;
    word-break: break-all;
  }

  /** なんかリンクにスタイル入ってる... */
  a {
    color: $colorStatusLink;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .invisible {
      display: none;
    }

    .ellipsis::after {
      content: "…";
    }
  }
}
