.naumanniDashboard-header-toot .tootWindow {
  background: $colorHeaderBackground;
  position: absolute;
  padding: $marginDefault;
  top: 0;
  border-radius: $marginDefault;
  width: 100%;
  box-sizing: border-box;
}


.tootWindow {
  position: relative;
  color: #fff;

  .tootWindow-close {
    position: absolute;
    right: $marginHalf;
    top: $marginHalf;
    z-index: 1;

    > button {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 1.2rem;

      > span::before {
        width: auto;
        margin: 0;
      }
    }
  }

  .tootForm {
    background: transparent;
  }
}
