.tootForm {
  background: $colorTootPanelBackground;
  padding: $marginDefault;
  position: relative;
  color: #fff;

  .tootForm-error {
    background: $colorAccentLighter;
    color: red;
    padding: $marginHalf;
    border-radius: $marginHalf;
  }

  h2 {
    font-size: $fontSizeSmall;
    font-weight: bold;
    font-family: sans-serif;
    margin: $marginDefault 0 $marginHalf 0;
  }

  .tootForm-sendFrom {
    @mixin clearfix;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      border: 4px solid rgba(255, 255, 255, 0.2);
      border-radius: $marginHalf;
      margin: 0 $marginHalf $marginHalf 0;
      padding: 0;
      filter: grayscale(100%);

      > * {
        display: block;
      }

      &.is-selected {
        border-color: #fff;
        filter: none;
      }
    }
  }

  .tootForm-note {
    margin: 0;
    font-size: $fontSizeSmall;
    color: $colorGray1;
    text-align: right;
  }

  .tootForm-content {
    background: $colorTootContentBackground;
    border-radius: $marginHalf;
    margin-bottom: $marginHalf;

    .tootForm-spoilerText {
      display: block;
      background: transparent;
      border: none;
      width: 100%;
      padding: 8px;
      margin: 0;
      box-sizing: border-box;
      min-height: 4ex;
      border-bottom: 1px solid #444;
      font-size: $fontSizeNormal;
    }

    .tootForm-statusContainer {
      position: relative;

      .tootForm-status {
        display: block;
        background: transparent;
        border: none;
        width: 100%;
        padding: 8px;
        margin: 0;
        box-sizing: border-box;
        font-size: $fontSizeNormal;
      }

      .tootForm-autoSuggestions {
        position: fixed;
        width: 100%;
        padding: 4px 0;
        color: $colorText;
        background: $colorAccentLightest;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
        

        &-item {
          position: relative;
          min-height: 37px;
          padding: 4px 8px;


          &.selected {
            background: $colorGray1;
          }

          .userIcon {
            position: absolute;
            vertical-align: top;
          }
          
          .tootForm-autoSuggestions-namebox {
            display: inline-block;
            padding: 0 0 0 32px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            > p {
              margin: 0;
              padding: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .tootForm-autoSuggestions-name {
              margin: 0 $marginDefault 0 0;
              font-weight: bold;
            }

            .tootForm-autoSuggestions-account {
              color:$colorGray3;
              font-size: $marginTimeline;
            }
          }

        }
      }
    }

    .tootForm-contentActions {
      padding-left: 6px;  /* 微妙にその下とずれる */

      > * {
        display: inline-block;
        border: none;
        background: transparent;
        font-size: 1.2rem;
        color: $colorGray3;

        &.is-active {
          color: $colorAccentNormal;
        }

        .icon::before {
          width: auto;
          margin: 0;
        }
      }
    }

    .tootForm-mediaFiles {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 2px);
      margin: 0 auto;

      .mediaThumbnail {
        height: 60px;
        flex: 1 1 35%;
        min-width: 35%;
        margin: calc($marginHalf / 2);
        border-radius: $marginHalf;
      }
    }
  }

  .tootForm-messageTo {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      padding: $marginHalf 0 0 0;
      flex: 1 1 25%;
      color: $colorTootTextInactive;
      cursor: pointer;
      flex-basis: 50%;

      .icon::before {
        margin-left: 0;
      }

      > b {
        display: block;
        margin: $marginHalf 0.5em;
      }

      > p {
        margin: 1ex 0.5em;
        font-size: $fontSizeSmall;
      }

      &.is-active {
        background: #fff;
        color: #000;
        border-radius: $marginHalf;
      }
    }
  }

  .tootForm-send {
    margin: $marginDefault 0;
    flex: 1 1 auto;
    text-align: right;
  }

  .tootForm-charCount {
    margin-right: 1ex;
  }
}


/* こまいやつ あとでうつす */
.tabs {
  display: flex;
  flex-wrap: nowrap;

  .tab {
    flex: 1 1 auto;
    color: #888;
    background: #f0f0f0;
    cursor: pointer;

    &.is-active {
      color: #000;
    }
  }
}
