.tootPanel {
  background: $colorTootPanelBackground;
  padding: $marginDefault;
  position: relative;
  color: #fff;

  .tootPanel-error {
    background: $colorAccentLighter;
    color: red;
    padding: $marginHalf;
    border-radius: $marginHalf;
  }

  h2 {
    font-size: $fontSizeSmall;
    font-weight: bold;
    font-family: sans-serif;
    margin: $marginDefault 0 $marginHalf 0;
  }

  .tootPanel-sendFrom {
    @mixin clearfix;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      border: 4px solid rgba(255, 255, 255, 0.2);
      border-radius: $marginHalf;
      margin: 0 $marginHalf $marginHalf 0;
      padding: 0;
      filter: grayscale(100%);

      > * {
        display: block;
      }

      &.is-selected {
        border-color: #fff;
        filter: none;
      }
    }
  }

  .tootPanel-note {
    margin: 0;
    font-size: $fontSizeSmall;
    color: $colorGray1;
    text-align: right;
  }

  .tootPanel-content {
    background: $colorTootContentBackground;
    border-radius: $marginHalf $marginHalf $marginHalf 0;

    .tootPanel-spoilerText {
      display: block;
      background: transparent;
      border: none;
      width: 100%;
      padding: 8px;
      margin: 0;
      box-sizing: border-box;
      min-height: 4ex;
      border-bottom: 1px solid #444;
      font-size: $fontSizeNormal;
    }

    .tootPanel-status {
      display: block;
      background: transparent;
      border: none;
      width: 100%;
      padding: 8px;
      margin: 0;
      box-sizing: border-box;
      min-height: 20ex;
      font-size: $fontSizeNormal;
    }
  }

  .tootPanel-messageTo {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      padding: $marginHalf 0 0 0;
      flex: 1 1 25%;
      color: $colorTootTextInactive;
      cursor: pointer;

      .icon::before {
        margin-left: 0;
      }

      > b {
        display: block;
        margin: $marginHalf 0.5em;
      }

      > p {
        margin: 1ex 0.5em;
        font-size: $fontSizeSmall;
      }

      &.is-active {
        background: #fff;
        color: #000;
        border-radius: 0 0 $marginHalf $marginHalf;
      }
    }
  }

  /* .tootPanel-actions */
  .tootPanel-actions {
    display: flex;
    margin: $marginDefault 0;
  }

  .tootPanel-send {
    flex: 1 1 auto;
    text-align: right;
  }

  .tootPanel-charCount {
    margin-right: 1ex;
  }
}


/* こまいやつ あとでうつす */
.tabs {
  display: flex;
  flex-wrap: nowrap;

  .tab {
    flex: 1 1 auto;
    color: #888;
    background: #f0f0f0;
    cursor: pointer;

    &.is-active {
      color: #000;
    }
  }
}
