.naumanniDashboard {
  background: url(/static/images/naumanni-bgLogo.svg) center center no-repeat;
  background-size: $sizeBackgroundLogo;

  width: 100vw;
  height: 100vh;

  .naumanniDashboard-version {
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    z-index: 11;
    pointer-events: none;
    top: 12px;
    right: 40px;
    pointer-events: none;
  }

  animation: blurOut 300ms ease-out forwards;
}

@keyframes blurIn {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blurOut {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0);
  }
}


.is-shownDialogs .naumanniDashboard {
  animation: blurIn 300ms ease-out forwards;
}


.naumanniDashboard-initializationProgress {
  position: absolute;
  padding-top: calc(50vh + $sizeBackgroundLogo / 2);
  width: 100%;
  text-align: center;
  color: $colorBackgroundWatermark;
  text-shadow: 0 1px 0px $colorBackgroundWatermarkShadow;
}


.naumanniDashboard-header {
  background: $colorHeaderBackground;
  display: flex;
  align-items: center;
  position: relative;
  z-index: $zIndexHeader;
  height: $sizeHeaderHeight;

  .naumanniDashboard-header-logo {
    display: block;
    width: $sizeHeaderIcon;
    height: $sizeHeaderIcon;
    margin: $marginDefault;
  }

  .naumanniDashboard-header-toot {
    position: relative;
    height: 100%;
    flex: 3 1 200px;

    > input[type=text] {
      width: 100%;
      height: $sizeHeaderIcon;
      background: $colorWhite;
      border-radius: $radiusDefault;
      border: none;
      padding: $marginHalf;
      box-sizing: border-box;
      margin: $marginDefault 0;

      &.is-hidden {
        visibility: hidden;
      }
    }
  }

  .naumanniDashboard-header-accounts {
    list-style: none;
    padding: 0;
    margin: 0 $marginDefault;
    display: flex;

    > li {
      width: $sizeHeaderIcon;
      height: $sizeHeaderIcon;
      margin: $marginHalf;
    }

    .userIcon {
      .userIcon-avatar {
        width: $sizeHeaderIcon;
        height: $sizeHeaderIcon;
      }
    }

    /**
     * アカウント読み込み中のときの代わりのアイコン
     */
    .naumanniDashboard-header-noAccount {
      border-radius: $radiusDefault;
      background: $colorHeaderButton;
      color: $colorHeaderBackground;
      width: $sizeHeaderIcon;
      height: $sizeHeaderIcon;
      line-height: $sizeHeaderIcon;
      font-size: calc($sizeHeaderIcon * 0.7);
      font-weight: bold;
      text-align: center;
    }

    /**
     * アカウント読み込みエラー
     */
    .naumanniDashboard-header-badToken {
      border-radius: $radiusDefault;
      background: #d32f2f;
      color: #6b0909;
      width: $sizeHeaderIcon;
      height: $sizeHeaderIcon;
      line-height: $sizeHeaderIcon;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  .naumanniDashboard-header-spacer {
    flex: 10 10 auto;
  }

  .naumanniDashboard-header-configButton,
  .naumanniDashboard-header-addAccountButton {
    color: $colorHeaderButton;
    border: none;
    font-size: calc($sizeHeaderIcon * 0.7);

    box-sizing: border-box;
    padding: 0;
    width: $sizeHeaderIcon;
    height: $sizeHeaderIcon;
    background: transparent;
    margin: 0;

    cursor: pointer;

    /* remove iconfont's margin */
    > span::before {
      margin: 0;
    }
  }

  .naumanniDashboard-header-addAccountButton {
    border: 1px solid $colorHeaderButton;
    border-radius: $radiusDefault;
  }

  .naumanniDashboard-header-configButton {
    margin: $marginDefault;
  }

  .naumanniDashboard-header-addAccountButton {
    border-style: dashed;
  }

  .dropdownMenuButton--mixedColumnMenu {
    .dropdownMenuButton-menu {
      left: 0;
      right: auto;
    }
  }
}


.naumanniDashboard-header .naumanniDashboard-header-accounts .menu--header {
  min-width: 200px;

  .menu-description {
    @mixin clearfix;
    padding: $marginDefault;

    .userIcon {
      float: left;
      display: block;
    }

    .userIcon-avatar {
      width: $sizeAvatar;
      height: $sizeAvatar;
    }

    .menu-descriptionNote {
      margin-left: calc($sizeAvatar + $marginDefault);
    }
  }

  .menu-item--message {
    border-top-width: 2px;
    border-top-style: solid;
  }
}


.naumanniDashboard-header .naumanniDashboard-header-accounts .menu-description--badAccount {
/*  border-radius: 6px; */
  background-color: #fdf4f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  color: #d32f2f;
  font-size: 14px;

  strong {
    font-weight: bold;
  }
}

.naumanniDashboard-header .menu--global {
  width: 10em;
}
