.userIcon {
  display: inline-block;
  position: relative;

  .userIcon-avatar {
    display: block;
    width: $sizeAvatar;
    height: $sizeAvatar;
    border-radius: $radiusDefault;
  }

  &.with-host {
    .userIcon-host {
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc($sizeAvatar / 3);
      height: calc($sizeAvatar / 3);
      opacity: 0.6;
    }
  }
}
