.userIcon {
  display: inline-block;
  position: relative;

  .userIcon-avatar {
    display: block;
    width: $sizeAvatar;
    height: $sizeAvatar;
    border-radius: $radiusDefault;
  }

  &.with-host {
    .userIcon-host {
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc($sizeAvatar / 3);
      height: calc($sizeAvatar / 3);
      opacity: 0.6;
    }
  }
}


.dropdownMenuButton {
  position: relative;

  .dropdownMenuButton-menu {
    position: absolute;
    z-index: $zIndexDropDownMenu;

    background: $colorWhite;
  }
}


.naumanniDashboard-header .naumanniDashboard-header-accounts .menu--header {
  border: 1px solid $colorHeaderBackground;

  .menu-description {
    @mixin clearfix;
    padding: $marginDefault;

    .userIcon {
      float: left;
      display: block;
    }

    .userIcon-avatar {
      width: $sizeAvatar;
      height: $sizeAvatar;
    }

    .menu-descriptionNote {
      margin-left: calc($sizeAvatar + $marginDefault);
    }
  }

  .menu-item--message {
    border-top-width: 2px;
    border-top-style: solid;
  }
}


.user-displayName {
  font-weight: bold;
}

.user-account {
  font-size: $fontSizeSmall;
  color: $colorGray3;
}
