/** UserIcon **/
.userIcon {
  display: inline-block;
  position: relative;

  .userIcon-avatar {
    display: block;
    width: $sizeAvatar;
    height: $sizeAvatar;
    border-radius: $radiusDefault;
  }

  &.with-host {
    .userIcon-host {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 33%;
      height: 33%;
    }
  }

  &.size-mini .userIcon-avatar {
    width: calc($sizeAvatar / 2);
    height: calc($sizeAvatar / 2);
  }

  &.size-small .userIcon-avatar {
    width: calc($sizeAvatar / 4 * 3);
    height: calc($sizeAvatar / 4 * 3);
  }

  &.size-large .userIcon-avatar {
    width: calc($sizeAvatar / 2 * 3);
    height: calc($sizeAvatar / 2 * 3);
  }
}


/** DropDownMenuButton **/
.dropdownMenuButton {
  position: relative;

  .dropdownMenuButton-menu {
    position: absolute;
    min-width: 100%;
    z-index: $zIndexDropDownMenu;
    right: 0;
  }
}


/** DropDownMenuButton **/
.menu {
  border: 1px solid $colorMenuBorder;
  background: $colorWhite;
  list-style: none;
  padding: 0;
  margin: 0;
  background: $colorMenuBackground;
  color: $colorMenuText;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  .menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: $marginDefault;
    border-top: 1px dotted $colorMenuBorder;

    > .menu-itemIcon {
      display: inline-block;
      width: 1.5em;
    }

    > .menu-itemLabel {
      flex: 1 1 auto;
      margin: 0 0 0 $marginDefault;
      white-space: nowrap;
    }

    &:hover {
      background: $colorHoverBackground;
      color: $colorHoverText;
    }

    &.is-disabled, &.is-disabled:hover {
      background: $colorMenuBackground;
      color: $colorGray3;
    }
  }
}


/** User name **/
.user-displayName {
  font-weight: bold;
}

.user-account {
  font-size: $fontSizeSmall;
  color: $colorUserAccount;
}


/** NowLoading **/
$loaderSize: 2rem;
$loaderBorderWidth: 6px;
$loaderBorderColor: #888;
$loaderVMargin: 2rem;

.niceLoader {
  margin: $loaderVMargin auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: $loaderBorderWidth solid color($loaderBorderColor a(20%));
  border-right: $loaderBorderWidth solid color($loaderBorderColor a(20%));
  border-bottom: $loaderBorderWidth solid color($loaderBorderColor a(20%));
  border-left: $loaderBorderWidth solid $loaderBorderColor;
  transform: translateZ(0);
  animation: niceLoaderAnimation 1.1s infinite linear;

  &, &::after {
    border-radius: 50%;
    width: $loaderSize;
    height: $loaderSize;
  }
}


@keyframes niceLoaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/** Button **/
.button {
  display: inline-block;
  font-size: $fontSizeButton;
  line-height: $sizeButtonHeight;
  min-width: $sizeButtonMinWidth;
  border: 1px solid $colorButtonBorder;
  border-radius: $radiusButton;
  background: #fff;
  color: #212121;
  padding: 0;

  &:hover {
    color: $colorButtonHoverText;
    text-decoration: none;
  }

  &.button--primary {
    border-color: $colorPrimaryButtonBorder;
    color: $colorPrimaryButtonText;
    background: $colorPrimaryButtonBackground;

    &:hover {
      color: $colorPrimaryButtonHoverText;
      background: $colorPrimaryButtonHoverBackground;
    }
  }

  &.button--danger {
    border-color: $colorDangerButtonBorder;
    color: $colorDangerButtonText;
    background: $colorDangerButtonBackground;

    &:hover {
      color: $colorDangerButtonHoverText;
      background: $colorDangerButtonHoverBackground;
    }
  }

  &[disabled], &[disabled]:hover {
    border-color: transparent;
    color: #bdbdbd;
    background: #e0e0e0;
  }
}


/** mediaThumbnail **/
.mediaThumbnail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: $colorGray1;

  .mediaThumbnail-close {
    position: absolute;
    right: $marginHalf;
    top: $marginHalf;
    border: none;
    font-size: 1.5rem;
    background: transparent;
    text-shadow: 0 0 4px #fff;

    .icon::before {
      width: auto;
      margin: 0;
    }
  }

  .mediaThumbnail-genericFile {
    color: black;
    text-align: center;
  }

  > canvas {
    display: block;
    width: 100%;
  }
}

.user-displayName, .user-acct {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.user-acct {
  color: $colorAccentNormal;
}


.cushionString {
  display: inline-block;
  white-space: nowrap;
  word-break: normal;
  width: 5em;
}


.niceBorder {
  border-bottom: 1px solid $colorGray1;
  height: 0.5rem;
  text-align: center;
  margin: 1rem 0 1.5rem;

  > span {
    background-color: #fff;
    padding: 0 2em;
  }
}
