/* 定数系 直接使わないで! */
$colorMainLighter: #A1887F;
$colorMainNormal: #795548;
$colorMainDarker: #5D4037;
$colorMainDarkest: #3E2723;
$colorLogo: #3F0000;

$colorAccentLighter: #FF9E80;
$colorAccentNormal: #FF6E40;
$colorAccentDarker: #FF3D00;

$colorWhite: #FFFFFF;
$colorGray1: #E0E0E0;
$colorGray2: #BDBDBD;
$colorGray3: #9E9E9E;
$colorText: #222;


$fontSizeNormal: 1rem;
$fontSizeSmall: 0.85rem;
$fontSizeLarger: 1.2rem;


$sizeHeaderIcon: 24px;
$sizeAvatar: 48px;
$sizeBackgroundLogo: 400px;


$radiusDefault: 4px;


$marginDefault: 8px;
$marginHalf: calc($marginDefault / 2);


/* 色 for App */
/* ダッシュボードの背景 */
$colorBackground: #efebe9;   /* TODO: 上の色に合わせる */
$colorBackgroundWatermark: #d6c7c7;
$colorBackgroundWatermarkShadow: $colorWhite;

/* ダッシュボードのヘッダ */
$colorHeaderBackground: $colorMainDarkest;
$colorHeaderButton: $colorMainNormal;

$colorMenuText: $colorText;
$colorMenuBackground: $colorWhite;
$colorMenuBorder: $colorMainLighter;
$colorHoverText: $colorMainNormal;
$colorHoverBackground: $colorAccentLighter;

$colorColumnHeaderBackground: $colorMainNormal;
$colorColumnHeaderText: $colorWhite;
$colorColumnHeaderMenuButton: $colorMainLighter;
$fontColumnHeaderText: bold $fontSizeLarger/1.2 sans-serif;
$sizeColumnHeader: 48px;

$colorStatusBorder: $colorGray1;
$colorStatusDate: $colorGray3;

$zIndexDropDownMenu: 1000;
