/* 定数系 直接使わないで! */
$colorMainLightest: #f0f3f5;
$colorMainLighter: #AEC8D9;
$colorMainNormal: #0884CC;
$colorMainDarker: #066399;
$colorMainDarkest: #03324d;
$colorLogo: #3F0000;

$colorAccentLightest: #FFFFFF;
$colorAccentLighter: #FF9E80;
$colorAccentNormal: #FF6E40;
$colorAccentDarker: #FF4F19;

$colorWhite: #FFFFFF;
$colorGray1: #E0E0E0;
$colorGray2: #BDBDBD;
$colorGray3: #9E9E9E;
$colorBlack: #000000;


$colorWarningBackground: #fcf8e3;
$colorWarningBorder: #faf2cc;
$colorWarningText: #8a6d3b;

$colorStarred: #ca8f04;
$colorText: #212121;


$fontSizeNormal: 1rem;
$fontSizeSmall: 0.85rem;
$fontSizeLarger: 1.1rem;
$fontSizeLargest: 1.2rem;


$sizeHeaderIcon: 24px;
$sizeAvatar: 48px;
$sizeBackgroundLogo: 400px;


$radiusDefault: 4px;


$marginDefault: 8px;
$marginHalf: calc($marginDefault / 2);
$marginTimeline: 12px;


/* 色 for App */
$fontSizeButton: $fontSizeLarger;
$sizeButtonHeight: 36px;
$sizeButtonMinWidth: 120px;
$colorButtonBorder: $colorGray3;
$colorButtonHoverText: #636363;
$colorPrimaryButtonBackground: #08ABCC;
$colorPrimaryButtonHoverBackground: #52C5DC;
$colorPrimaryButtonText: #ffffff;
$colorPrimaryButtonBorder: transparent;
$colorPrimaryButtonHoverText: $colorPrimaryButtonText;
$colorDangerButtonBackground: #d32f2f;
$colorDangerButtonHoverBackground: #e06d6d;
$colorDangerButtonText: #ffffff;
$colorDangerButtonBorder: transparent;
$colorDangerButtonHoverText: $colorDangerButtonText;
$radiusButton: 6px;


/* ダッシュボードの背景 */
$colorBackground: #F0F3F5;   /* TODO: 上の色に合わせる */
$colorBackgroundWatermark: #cfdde6;
$colorBackgroundWatermarkShadow: $colorWhite;

/* ダッシュボードのヘッダ */
$colorHeaderBackground: $colorMainDarkest;
$colorHeaderButton: $colorMainNormal;
$sizeHeaderHeight: calc($sizeHeaderIcon + $marginDefault * 2);

$colorMenuBorder: $colorGray1;

/* Toot画面 */
$colorTootPanelBackground: $colorMainDarker;
$colorTootContentBackground: #fff;
$colorTootTextInactive: $colorGray2;

$colorMenuText: $colorText;
$colorMenuBackground: $colorWhite;
$colorMenuBorder: $colorMainLighter;
$colorHoverText: $colorMainNormal;
$colorHoverBackground: $colorGray1;

$colorColumnHeaderBackground: $colorMainDarker;
$colorPrivateColumnHeaderBackground: #30276e;
$colorColumnHeaderText: $colorWhite;
$colorColumnHeaderMenuButton: $colorMainLighter;
$fontColumnHeaderText: bold $fontSizeLarger/1.2 sans-serif;
$sizeColumnHeader: 48px;

$colorStatusBorder: $colorGray1;
$colorStatusDate: $colorGray3;
$colorStatusStatusMeta: $colorMainLighter;
$colorStatusLink: #0884cc;
$colorStatusText: $colorText;
$colorStatusInfo: $colorGray2;
$colorStatusSpoilerOpenerBackground: $colorGray1;
$colorStatusSpoilerOpenerText: $colorWhite;
$colorStatusActionColor: $colorMainLighter;
$colorStatusInactiveActionColor: $colorGray1;
$colorStatusActiveActionColor: $colorAccentNormal;
$colorStatusVisiblityColor: $colorGray1;
$colorFavouritedStatusText: $colorGray3;
$colorReblogedStatusText: $colorGray3;
$fontSizeStatusActionIcon: 1.5rem;
$fontSizeStatusVisibilityIcon: 1rem;
$fontSizeStatusInfo: 0.8rem;
$sizeStatusAvatar: calc($sizeAvatar / 2);

$colorNotificationWhat: #707c84;  /* 通知の説明部分 */

$colorFriendBorder: $colorGray1;
$colorFriendArrow: $colorMainNormal;

$colorTalkSenderStatus: $colorGray1;
$colorTalkReceiverStatus: #d3cff1;
$colorTalkFormBorder: $colorGray3;
$sizeTalkFormHeight: 96px;

$colorUserAccount: colorGray3;

$colorModalDialogContainerBackground: rgba(0, 0, 0, 0.5);
$colorDialogBackground: $colorWhite;
$radiusDialog: calc($radiusDefault * 2);

$colorTabBackground: $colorMainLightest;

$zIndexBackground: 0;
$zIndexHeader: 10;
$zIndexModalDialogContainer: 1000;
$zIndexDropDownMenu: 2000;
