@import "normalize.css";
@import "_variables.css";
@import "_mixins.css";
@import "_font.css";
@import "_parts.css";
@import "components/_column_container.css";
@import "components/_modal_dialog.css";
@import "components/_timeline_column.css";
@import "components/_friend_column.css";
@import "components/_toot_window.css";
@import "_dashboard.css";

html {
  background: $colorBackground;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: $colorText;
}

body {
  margin: 0;
  padding: 0;
}

/** multi column **/
@media screen and (min-width: 750px) {
  min-width: 750px;
}
